<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>donor_reg</servlet-name>
        <servlet-class>DonationTracking.donor_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlog</servlet-name>
        <servlet-class>DonationTracking.adminlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Charity_reg</servlet-name>
        <servlet-class>DonationTracking.Charity_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharityActivate</servlet-name>
        <servlet-class>DonationTracking.CharityActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharityReject</servlet-name>
        <servlet-class>DonationTracking.CharityReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Campaign</servlet-name>
        <servlet-class>DonationTracking.Add_Campaign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donate</servlet-name>
        <servlet-class>DonationTracking.donate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonoteApprove</servlet-name>
        <servlet-class>DonationTracking.DonoteApprove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonoteReject</servlet-name>
        <servlet-class>DonationTracking.DonoteReject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>donor_reg</servlet-name>
        <url-pattern>/donor_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlog</servlet-name>
        <url-pattern>/adminlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Charity_reg</servlet-name>
        <url-pattern>/Charity_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharityActivate</servlet-name>
        <url-pattern>/CharityActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharityReject</servlet-name>
        <url-pattern>/CharityReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Campaign</servlet-name>
        <url-pattern>/Add_Campaign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donate</servlet-name>
        <url-pattern>/donate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonoteApprove</servlet-name>
        <url-pattern>/DonoteApprove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonoteReject</servlet-name>
        <url-pattern>/DonoteReject</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
